{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
<div class='pb-6 grid grid-cols-4 gap-4'>
<div class='col-span-1'>
<form method='get' action="{% url 'item:items' %}">
<input name='query' class='w-full py-4 px-4 border rounded-xl' type='text' value="{{ query }}" placeholder="Search.."  />

<button class='mt-2 py-4 px-8 text-lg bg-blue-500 text-white rounded-xl'>Search</button>
</div>

<div class='col-span-3'>
 <div class='grid grid-cols-1 md:grid-cols-3 gap-3'>
        {% for item in items %}
        <article class="overflow-hidden bg-white rounded-lg shadow-lg">
            <a href='{% url 'item:detail' item.id %}'>
                <img alt="Placeholder" class="block h-auto w-full" src="{{item.image.url}}">
            </a>
            <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                <h1 class="text-lg">
                    <a class="no-underline hover:underline text-black" href="#">
                        {{item.name}}
                    </a>
                </h1>
                <p class="text-grey-darker text-sm">
                    {{item.created_at}}
                </p>
            </header>
            <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                <a class="flex items-center no-underline hover:underline text-black" href="#">
                    <p class="ml-2 text-sm">
                        Seller: {{item.created_by}}
                    </p>
                </a>
                <a class="no-underline text-black text-2xl hover:text-red-dark" href="#">
                    ${{item.price}}
                </a>
            </footer>
        </article>
        {% endfor %}
    </div>
</div>


{% endblock %}